body{
margin:0;
font-family:Arial,sans-serif;
background:linear-gradient(135deg,#74b9ff,#a29bfe);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

.container{
padding:20px;
}

.envelope{
font-size:80px;
cursor:pointer;
transition:.5s;
}

.envelope:hover{
transform:scale(1.2);
}

.letter{
display:none;
background:white;
padding:20px;
border-radius:15px;
margin-top:20px;
box-shadow:0 0 20px rgba(0,0,0,.2);
max-width:350px;
}

h1{
color:white;
}

h2{
color:#6c5ce7;
}

h3{
color:#0984e3;
}
